@model AlaskaAirlines.ViewModels.SearchViewModel

@{
    ViewBag.Title = "Flights";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Flights.Count == 0)
{
    @* Banner: display when no flights available *@
    <div id="no-flights-available" class="flights-page panel panel-warning">
        <div class="panel-body panel-body-margin">

            <h4 class="pull-left">
                No flights available. Please pick different airports.
            </h4>

            <a href="/" class="btn btn-info pull-right">Go Back</a>
        </div>
    </div>
    <script>
        $('.home-page').hide();
        $('.flights-page').show();
    </script>
}
else
{
    @*Table Rendering*@

    //Panel: From Airport - To Airport with progress bar
    <div class="flights-page panel panel-default" id="from-to-banner">
        <div class="panel-body">
            <div class="text-center">
                <h1>
                    @Model.FromAirport
                    @Html.Hidden("fromCode", Model.FromAirport)

                    <img src="~/Content/icons/arrow-pointing-to-right.png" />

                    @Model.ToAirport
                    @Html.Hidden("toCode", Model.ToAirport)
                </h1>
            </div>
        </div>
        <div class="flights-page progress progress-striped">
            <div class="progress-bar progress-bar-success"></div>
        </div>
    </div>

    //Panel : Sort Table By
    <div class="panel panel-default">
        <div class="panel-body">
            <ul class="pager">
                <li id="sort-by">Sort results by</li>
                <li id="Departure" class="sort">
                    <a class="SortButton">Departure</a>
                </li>
                <li id="Price" class="sort">
                    <a class="SortButton">Price</a>
                </li>
                <li id="Flight" class="sort">
                    <a class="SortButton">Flight #</a>
                </li>
            </ul>
        </div>
    </div>


    //Table
    <table class="flights-page table table-striped table-hover">
        <thead>
            <tr class="panel">
                <th>Flight No.</th>
                <th></th>
                <th></th>
                <th></th>
                <th>Main Cabin</th>
                <th>First Class</th>
            </tr>
        </thead>

        <tbody id="table-body">
            @{Html.RenderPartial("_FlightsTable");}
        </tbody>
    </table>

    <script>
        $('.home-page').hide();
        $('.flights-page').show();
        sort();
    </script>
}
