@model AlaskaAirlines.ViewModels.SearchViewModel

@{
    ViewBag.Title = "Index";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
}

<div id="page-title" class="home-page">
    <h2 id="main-page-title" class="text-center">
        Where do you want to fly?
    </h2>
</div>

@*Background Airplane*@
<img id="Background-airplane" class="airplane-animate airplane-background-mobile-tablet" src="~/Content/icons/flying-airplane.png" />


@* Search Form *@
<div class="home-page form-group">
    <div class=" col-lg-3 col-lg-offset-3 mobile-col-lg-3">
        @Html.TextBoxFor(m => m.FromAirport, new { @class = "form-control input-lg", placeholder = "Eg. Seattle" })
        @Html.ValidationMessageFor(m => m.FromAirport)
    </div>

    <div class=" col-lg-3 mobile-col-lg-3">
        @Html.TextBoxFor(m => m.ToAirport, new { @class = "form-control input-lg", placeholder = "To City" })
        @Html.ValidationMessageFor(m => m.ToAirport)
    </div>
    <div>
        <button type="button" id="submit-button" class="btn btn-primary mobile-center-block">
            <img src="~/Content/icons/form-send-button-right-arrow.png" />
        </button>
    </div>
</div>

@{Html.RenderPartial("_Flights");}
<div id="flights-results"></div>

<script>
    submitForm();
</script>