
@{
    ViewBag.Title = "Error";
}

<div id="page-not-found" class="panel panel-warning">
    <div class="panel-body panel-body-margin">

        <h4 class="pull-left">
            Error 404 the page is not found.
        </h4>

        <a href="/" class="btn btn-info pull-right">Go Back</a>
    </div>
</div>

